body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../netherblock.png");
}

.center {
  text-align: center;
  vertical-align: middle;
}

.text{
  color: yellow;
}


table {
  border-collapse: collapse;
  width: 100%;
  color: yellow;
  border: 1px solid yellow;
}

td, th {
  border: 1px solid yellow;
  text-align: left;
  padding: 8px;
  border: 1px solid yellow;
}



.logo {
  width: 100%;
}
