body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../netherblock.png");
}

.center {
  text-align: center;
  vertical-align: middle;
}

.text{
  color: yellow;
}


table {
  border-collapse: collapse;
  width: 100%;
  color: yellow;
  border: 1px solid yellow;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}

td, th {
  border: 1px solid yellow;
  text-align: left;
  padding: 8px;
  border: 1px solid yellow;
}

a {
  color: green;
}

.logo {
  width: 100%;
}

footer {
  background-color: #4A412A;
  width: 100%;
}
